<!-- logobanner.component.html -->
<div class="logobanner logo-bar">
    <img src="../assets/images/logo.png" alt="" class="logo">
    <input type="text" placeholder="Search Products..." class="search-bar search">
    <input type="submit" value="Search" class="search-bar search-button">
    <img src="../assets/images/telefon.png" alt="" class="contact phone">
    <p class="contact number">(844)-799-2245</p>
    <img src="../assets/images/menu.png" alt="menu button" width="40" class="menu" (click)="toggleMenu()">
</div>
<div class="logobanner nav-bar" [class.active]="menuActive">
    <nav>
        <ul>
            <li *ngFor="let item of menuItems"><a href="#"> {{ item }}</a></li>
        </ul>
    </nav>
</div>