/* logobanner.component.css */

.logobanner {
    width: 100%;
    background-color: #F8F9FA;
}

.logo-bar {
    height: 15vh;
    display: flexbox;
    align-self: center;
}

.logo {
    width: 225px;
    margin-top: 1%;
    margin-left: 10%;
    align-self: center;
}

.search {
    width: 300px;
    height: 25px;
    border: 1px solid #E9ECEE;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    padding: 5px;
    margin-left: 75px;

}

.search-button {
    background-color: #3E5B28;
    width: 75px;
    height: 35px;
    border: 1px solid #3E5B28;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    color: #fff;

}

.search-bar {
    position: relative;
    bottom: 25px;
}

.phone {
    width: 30px;
    height: 30px;
    display: inline;
    margin-left: 20%;
    position: relative;
    bottom: 20px;
}

.number {
    display: inline;
    position: relative;
    margin-left: 1%;
    bottom: 30px;
    color: #3E5B28;
}

/*  NAVGATION BAR   */

.nav-bar {
    height: 5vh;
    display: flex;
    flex-wrap: nowrap;
    flex-shrink: 0;
    justify-content: flex-start;
}

.nav-bar nav {
    display: flex;
    justify-content: left;
    margin-left: 150px;
}

.nav-bar nav ul {
    list-style: none;
    display: flex;
    flex-direction: row;
}

.nav-bar nav ul li {
    margin-left: 25px;
}

.nav-bar nav ul li a {
    text-decoration: none;
    color: #5A5A5A;
}

.menu {
    display: none;
}


@media (max-width: 768px) {
    .menu {
        display: inline;
        position: absolute;
        right: 50px;
        top: 75px;
    }

    .phone {
        display: none;
    }

    .number {
        display: none;
    }

    .logo-bar {
        /*height: 20vh;*/
        display: flexbox;
        align-self: center;
    }

    /* .nav-bar {
        height: 10vh;
        display: flex;
        flex-wrap: nowrap;
        flex-shrink: 0;
        justify-content: flex-start;
    } */

    .nav-bar nav ul {
        /* flex-direction: column;
        position: absolute;
        left: 0px; */
        display: none;
    }

    .search-button {
        display: none;
    }

    .search-bar {
        display: none;
    }

    .nav-bar {
        /* height: 10vh; */
        display: flex;
        flex-wrap: nowrap;
        flex-shrink: 0;
    }

    .logo-bar {
        height: 8vh;
        display: flexbox;
        align-self: center;
    }

}