.main-page {
    padding: 25px;
    margin-left: 8%;
    flex-wrap: wrap;
}

.photo {
    /* margin: 20px; */
    padding: 1%;
    display: flex;
    flex-wrap: wrap;
    flex-shrink: 0;
}

.photo1 {
    width: 42.5%;
    /* height: 50vh; */
    float: left;
}

.photo2 {
    width: 20%;
    float: left;
}

.photo3 {
    width: 20%;
    display: block;
}

.photo4 {
    width: 42%;
}